@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #c27b5c;
}

body {
    font-family: 'Outfit', sans-serif;
}

button {
    display: block;
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

select,input{
    font-family: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100dvh;
}

.aside {
    padding: 2rem 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.aside__nav {
    display: grid;
    gap: .125rem;
}

.aside__nav-item {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: .5rem 1rem;
    font-size: .875rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.6);
    transition: all .2s ease-in-out;
}

.aside__nav-item:hover,
.aside__nav-item.active {
    background: rgba(0, 0, 0, 0.05);
    color: var(--color-primary);
}

.aside__nav-item:active {
    background: rgba(0, 0, 0, 0.1);
}

.aside__nav-item svg {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.main {
    padding: 2rem;
}

.main__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .25rem;
}

.main__text {
    font-size: .875rem;
    color: rgba(0, 0, 0, 0.6);
}

.main__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.btn-card-link {
    padding: 1rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: .75rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .4s ease;
}

.btn-card-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .4s ease;
}

.btn-card-link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-card-img svg {
    width: 1rem;
    height: 1rem;
}

.btn {
    padding: .75rem 1.25rem;
    border-radius: 6px;
    font-size: .875rem;
    font-weight: 500;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.btn svg{
    width: 1rem;
    height: 1rem;
}

.btn--primary {
    background: var(--color-primary);
    color: white;
}

.btn--primary:hover {
    opacity: .7;
}

.btn--convert {
    margin-top: 1.5rem;
    width: 100%;
}
.btn--secondary{
    color: black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

.btn--secondary:hover{
    background-color: rgba(0, 0, 0, 0.01);
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    width: 650px;
    margin: 1rem auto 0;
}


.card-title {
    font-size: 1.125rem;
    font-weight: 600;

}

.card-description {
    font-size: .875rem;
    color: rgba(0, 0, 0, 0.75);
    margin: .25rem 0 1.25rem;
}

.form{
    display: grid;
    gap: 1rem;
}

.form-label {
    margin-bottom: .25rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: .875rem;
    display: inline-block;
}

/* Estilo del Dropdown */
.form-select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    background-color: transparent;
}



/* Zona de carga */
.drop-zone {
    margin-top: 2rem;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.6);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    text-align: center;
    font-size: .875rem;
}

.drop-zone-pdf.hidden{
    display: none;
}

.drop-zone-icon{
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .4s ease;
}
.drop-zone svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-primary);
}

.drop-zone:hover {
    border-color: var(--color-primary);
}

.drop-zone:hover svg {
    color: var(--color-primary);
    background-color: white;
}

.drop-zone:hover .drop-zone-icon {
    border-color: var(--color-primary);
}

.drop-zone-title {
    font-weight: 600;
    font-size: 1.125rem;
    color: black;
    margin-bottom: .25rem;
}


#btn-remove{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .4s ease;
    background-color: transparent;
    margin-left: auto;
    margin-top: 1rem;
}
#btn-remove svg{
    width: 1.25rem;
}
#btn-remove:hover {
    background-color: rgba(194, 123, 92, 0.1);
}
  
.loading {
    display: none;
    margin-top: 10px;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.header-actions{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-separator{
    width: 1px;
    height: 1.5rem;
    background: rgba(0, 0, 0, 0.1);

}
.main__counter{
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.7);
    font-size: .875rem;
    margin-top: .5rem;
}
.controls-select{
    min-width: 160px;
}

.btn-reload{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: black;
    padding: .75rem 1rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in-out;
}

.btn-reload svg{
    width: 1rem;
    height: 1rem;
}

.btn-reload svg path{
    transition: all .2s ease-in-out;
}

.btn-reload:hover{
    background: var(--color-primary);
    color: white;
}

.btn-reload:hover svg path{
    color: white;
}

 /* Grid de Impresoras */
 .grid {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
 }
 .printer-card {
     background: white;
     padding: 20px;
     border-radius: 6px;
     box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
     cursor: pointer;
     transition: transform 0.2s;
     position: relative;
     min-height: 150px;
 }
 .printer-card:hover {
     transform: translateY(-1px);
     border-top-width: 12px;
 }

 .printer-card-status{
    display: flex;
    align-items: center;
    gap: .5rem;
 }

 .printer-card-badge{
     width: .375rem;
     height: .375rem;
     border-radius: 50%;
     display: flex;
 }

.printer-card-badge.ready{
    background: #28a745;
}
.printer-card-badge.pending{
    background: #dc3545;
}


 .printer-card-icon{
     position: absolute;
     top: 20px;
     right: 20px;
 }
 .printer-card-icon svg{
     width: 1rem;
     height: 1rem;
 }

 .printer-card-title{
     font-size: 1rem;
 }

 .printer-card-text{
     font-size: .75rem;
     color: rgba(0, 0, 0, 0.6);
 }

 /* MODAL (Ventana emergente de configuración) */
 .modal-overlay {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(255, 255, 255, 0.1);
     justify-content: center;
     align-items: center;
     z-index: 1000;
     backdrop-filter: blur(5px);
 }

 .modal {
     background: white;
     padding: 30px;
     border-radius: 15px;
     width: 600px;
     animation: slideIn 0.3s;
     border: 1px solid rgba(0, 0, 0, 0.1);
 }
 @keyframes slideIn {
     from {
         transform: translateY(-10px);
         opacity: 0;
     
     to {
         transform: translateY(0);
         opacity: 1;
     }
    }
}
 
 /* Inputs del formulario */
 .form-group {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
 }
 label {
     margin-bottom: 4px;
     font-weight: 400;
 }
 input[type="text"],
 input[type="number"] {
     width: 100%;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 5px;
     box-sizing: border-box;
 }
 /* Zona de carga mini */
 .mini-drop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
 }
  .mini-drop svg{
    width: 1.125rem;
    height: 1.125rem;
}

 .modal-title{
     font-size: 1.125rem;
     font-weight: 600;
     margin-bottom: .25rem;
 }

 .modal-text{
     font-size: .875rem;
     color: rgba(0, 0, 0, 0.6);
     margin-bottom: 1rem;
 }

 .modal-actions{
     display: flex;
     gap: 1rem;
     margin-top: 1rem;
     justify-content: flex-end;
     align-items: center;
 }

 .controls { 
    display: flex; 
    gap: 1rem; 
    align-items: center; 
}
  
        /* GRID DE FOTOS */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}
        
.img-card {
    background: white;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    padding: .25rem;
    height: 120px;
}

.img-card.disabled{
    opacity: 0.5;
    pointer-events: none;
}
        
        
/* Estilo cuando está seleccionada */
.img-card.selected {
    border-color: var(--color-primary);
    background-color: #c27b5c15;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.img-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-name {
    font-size: 10px;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.img-card-content{
    position: absolute;
    inset: auto 0 0 0;
    padding: .25rem .5rem .25rem;
    background-image: linear-gradient( to bottom, transparent, rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(1px);
}

/* Checkbox visual */
.check-circle {
    position: absolute; 
    top: .75rem; 
    right: .75rem;
    width: 1.5rem; 
    height: 1.5rem;
    background: transparent;
    border-radius: 50%; 
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.check-circle-view{
    position: absolute; 
    top: .75rem; 
    left: .75rem;
    width: 1.5rem; 
    height: 1.5rem;
    background: white;
    color: black;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.check-circle-view svg{
    width: .75rem;
    height: .75rem;
}

.check-circle:hover{
    border-color: white;
}

.check-circle svg{
    display: none;
    width: .75rem;
    height: .75rem;
}
.selected .check-circle {
    background: var(--color-primary); 
    border-color: var(--color-primary);
}

.selected .check-circle svg{
    display: block;
    color: white;
}

.loading{
    align-items: center;
    gap: .5rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: .75rem;
}

.loading-icon{
    width: 1rem;
    height: 1rem;
    color: rgba(0, 0, 0, 0.5);
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

.document-form{
    display: grid;
    gap: 1rem;
    margin: 2rem auto 0;
    max-width: 500px;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

}

.document-form-input{
    height: 140px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.document-form-input:hover{
    border-color: var(--color-primary);
    color: var(--color-primary);

}

.document-form-btn{
    width: 100%;
}

.document-status{
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: .75rem;
    color: rgba(0, 0, 0, 0.5);
}

.document-status.active{
    display: flex;
}

.gallery-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(2px);
}

.gallery-modal.active{
    display: flex;
}

.gallery-content{
    position: relative;
    max-width: 600px;
    width: 90%;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.gallery-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

.gallery-modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.gallery-modal-close:hover svg{
    color: white;
}

.gallery-modal-close svg{
    width: 1.5rem;
    height: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.btn-remove-images:disabled{
    opacity: .5;
}

.image-to-pdf-list{
    margin-top: 1rem;
    display: none;
    gap: 1rem;
}

.image-to-pdf-list.active{
    display: grid;
}

.image-to-pdf-item{
    background: white;
    border-radius: 6px;
    padding: .75rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: all .4s ease;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-to-pdf-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-to-pdf-left{
    display: flex;
    align-items: center;
    gap: .875rem;
}

.image-to-pdf-icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .4s ease;
}

.image-to-pdf-icon svg{
    width: 1rem;
    height: 1rem;
}

.image-to-pdf-name{
    font-size: .875rem;
    font-weight: 500;
}
.image-to-pdf-remove{
    width: 2rem;
    height: 2rem;
    color: rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
}
.image-to-pdf-remove svg{
    width: 1rem;
    height: 1rem;
}

.image-to-pdf-remove:hover{
    color: black;
}