{% extends 'layout.html' %}

{% block title %}Imagen a PDF - Papelería Pro{% endblock %}

{% block content %}
      
    <div class="card">

                <h2 class="card-title">Convertir Imágenes a PDF</h2>
                <p class="card-description">Sube tus imágenes y conviertelas a PDF</p>
                <div class="form">
                    <div class="form-item">
                        <label for="type" class="card-label form-label">Tamaño de impresión:</label>
                        <select id="layoutConfig" class="form-select" name="type">
                            <option value="full">Carta Completa (Default)</option>
                            <option value="half">Media Carta (Ahorro)</option>
                            <option value="id_card">Tamaño Credencial (INE)</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="card-label form-label" for="size">Ubicacion de la imagen:</label>
                        <select id="positionConfig" class="form-select" >
                            <option value="center">Centro (Default)</option>
                            <option value="top">Arriba (Inicio)</option>
                            <option value="bottom">Abajo (Final)</option>
                        </select>
                    </div>
                </div>
                
                <div class="drop-zone drop-zone-pdf" onclick="document.getElementById('fileInput').click()">
                    <div class="drop-zone-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-cloud-upload-icon lucide-cloud-upload">
                            <path d="M12 13v8" />
                            <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242" />
                            <path d="m8 17 4-4 4 4" />
                        </svg>
                    </div>
                    <div>
                        <p class="drop-zone-title">Subir imagen o imagenes</p>
                        <span id="fileLabel">Toca para elegir archivos</span>
                    </div>
                    <input type="file" id="fileInput" multiple style="display:none" onchange="updateLabel()" accept="image/*">
                </div>
                  
               <div class="image-to-pdf-list">
                    <div class="image-to-pdf-item">
                        <div class="image-to-pdf-left">
                            <div class="image-to-pdf-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-icon lucide-file"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"/><path d="M14 2v5a1 1 0 0 0 1 1h5"/></svg>
                            </div>
                            <div>
                                <h3 class="image-to-pdf-name">
                                    El libro de la vida
                                </h3>
                            </div>
                        </div>
                        <button class="image-to-pdf-remove">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-x-icon lucide-x">
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </button>
                    </div>
                </div>

                <button class="btn btn--primary btn--convert" style="display: none;" onclick="procesarArchivos()" id="btnProcesar">Convertir a
                    PDF</button>
                <div class="loading" id="loadingMsg">⏳ Procesando... espera un momento</div>

                <button id="btn-remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-trash-icon lucide-trash">
                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                        <path d="M3 6h18" />
                        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                    </svg>
                </button>
            </div>
    <script>

        const btnRemove = document.getElementById('btn-remove');
        const input = document.getElementById('fileInput');
        const layout = document.getElementById('layoutConfig');
        const position = document.getElementById('positionConfig'); // <--- NUEVO
        const btn = document.getElementById('btnProcesar');
        const msg = document.getElementById('loadingMsg');
        const fileLabel = document.getElementById('fileLabel');
        const imgToPDFList = document.querySelector('.image-to-pdf-list');
        const dropZonePDF = document.querySelector('.drop-zone-pdf');
        let fileItems = [];

        btnRemove.addEventListener('click', function () {
            if (input.files.length === 0) return
            document.getElementById('fileInput').value = '';
            showLabelDinamic();
            btn.disabled = true;
        });

        function eliminarArchivo(indice) {
            // 1. Lo sacamos de nuestro array
            fileItems.splice(indice, 1);
  
            // 2. Creamos el contenedor para la nueva lista
            const dataTransfer = new DataTransfer();
            console.log(fileItems);
            // 3. Agregamos los archivos restantes
            fileItems.forEach(file => dataTransfer.items.add(file));

            // 4. Sincronizamos con el input
            input.files = dataTransfer.files;
        }

        function removeFile(index){
            eliminarArchivo(index);
            showListItems();
            showButtonSubmit();
        }

        function updateLabel() {
            const input = document.getElementById('fileInput');

            fileItems = Array.from(input.files);
        
            showLabelDinamic();
            showListItems();
            showButtonSubmit()
        }

        function showButtonSubmit(){
            if (fileItems.length > 0){
                btnProcesar.style.display = 'block';
            } else{
                btnProcesar.style.display = 'none';
            }
        }

        function showListItems(){
            if (fileItems.length > 0){
                imgToPDFList.classList.add('active');
                dropZonePDF.classList.add('hidden');
            } else{
                imgToPDFList.classList.remove('active');
                dropZonePDF.classList.remove('hidden');
            }

            
            imgToPDFList.innerHTML = ''
 
            fileItems.forEach((file, index) => {
                imgToPDFList.innerHTML += `
                    <div class="image-to-pdf-item">
                        <div class="image-to-pdf-left">
                            <h3 class="image-to-pdf-name">${file.name}</h3>
                        </div>
                        <button class="image-to-pdf-remove" onclick="removeFile(${index})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                        </button>   
                    </div>
                `;
            });

        }

        function showLabelDinamic() {
            fileLabel.innerText = input.files.length > 0 ?
                `${input.files.length} archivo(s) listos` : "Toca para elegir archivos";
        }

        async function procesarArchivos() {

            
            if (input.files.length === 0) return alert("Selecciona algo primero.");
            
            // UI Feedback
            btn.disabled = true;
            msg.style.display = 'block';

            // Preparar datos para la API
            const formData = new FormData();
            
            for (const file of input.files) {
                formData.append('files[]', file);
            }      
            formData.append('layout', layout.value);
            formData.append('position', position.value); // <--- Lo enviamos a Python

            try {
                // Llamada a la API
                const response = await fetch('/api/convertir', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) throw new Error("Error en la conversión");
                const nameFile = input.files[0].name.split('.')[0]
                // Convertir respuesta a Blob (archivo) y descargar
                const blob = await response.blob();
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = "imagen_a_pdf_" + nameFile + ".pdf";
                document.body.appendChild(a);
                a.click();
                a.remove();
                
                const response2 = await fetch('/api/remove_uploads', {
                    method: 'POST'
                });

            } catch (error) {
                alert("Hubo un error: " + error.message);
            } finally {
                btn.disabled = false;
                msg.style.display = 'none';
            }
        }

        
    </script>
{% endblock %}
