{% extends 'layout.html' %}

{% block title %}Inicio - Papelería Pro{% endblock %}

{% block content %}
    <h2 class="main__title">Papeleria</h2>
    <p class="main__text">Centro de control de documentos e impresión</p>
    <div class="main__grid">
        <a href="/prints" class="btn-card-link">
            <div class="btn-card-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"/><path d="M6 9V3a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6"/><rect x="6" y="14" width="12" height="8" rx="1"/></svg>
            </div>
            <span class="btn-card-title">Dispositivos de impresión</span>
        </a>
        <a href="/img-to-pdf" class="btn-card-link">
            <div class="btn-card-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m22 11-1.296-1.296a2.4 2.4 0 0 0-3.408 0L11 16"/><path d="M4 8a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2"/><circle cx="13" cy="7" r="1" fill="currentColor"/><rect x="8" y="2" width="14" height="14" rx="2"/></svg>
            </div>
            <span class="btn-card-title">Convertir Imagenes a PDF</span>
        </a>
    </div>
{% endblock %}